.header {
    border-bottom: 1px solid #ececec;
    background-color: var(--header-background-color);
    &__container {
        display: flex;
        align-items: center;
    }
}

.header__navigation {
    margin-left: 93px;
}

