.address__contact {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--hoover-duration) var(--hover-time-function);

    &:hover,
    &:focus {
        color: #FFFFFF;
    }
}

.address__list {
    margin: 0;
    padding: 0;
}

.address__item {
    margin-top: 8px;
}