.logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo__black {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--primary-text-color);
}

.logo__white {
    color: #FFF;
}

