.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 500ms, visibility 500ms;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: scale(0.5) rotate(-250deg);
}

.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transition: transform 300ms;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    padding: 40px;
    @media screen and (min-width: 480px) {
        width: 450px;
        height: 609px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }
}


.close-modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}



.close-btn-icon {
    fill: #000000;
    transition: fill var(--hoover-duration) var(--hover-time-function);
    &:hover,
    &:focus {
        fill: var(--accent-color);
        outline: none;
    }
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.modal-form {
    margin-top: 12px;
}

.modal-field {
    margin-bottom: 10px;
}

.madal-lable {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--second-text-color);
}

.modal-input-wrap {
    position: relative;
    padding-top: 4px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    padding-left: 42px;
    transition: border-color var(--hoover-duration) var(--hover-time-function);
    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
}

.modal-input:focus+.input-icon {
    fill: var(--accent-color);
}

.input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--hoover-duration) var(--hover-time-function);
}


.modal-coment {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    outline: none;
    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
}

.text-wrap {
    margin-top: 4px;
    margin-bottom: 20px;
}

.check-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--second-text-color);

    span {
        width: 16px;
        height: 15px;
        border: 2px solid #000000;
        border-radius: 3px;
        margin-right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        }
}
.contract-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #757575;
    @media screen and (min-width: 1200px) {
        line-height: 1.71;
    }
}
.contract {
    color: var(--accent-color);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    @media screen and (min-width: 1200px) {
        line-height: 1.71;
    }
}

.check-icon {
    fill: transparent;
}

.input-checkbox:checked+.check-text span {
    background-color: var(--accent-color);
    border: none;
}

.input-checkbox:checked+.check-text .check-icon {
    fill: #FFF;
}

.modal-send {
    outline: none;
    display: flex;
    align-items: center;
    margin-top: 30px;
    min-width: 200px;
    height: 50px;
    padding: 10px 55px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    letter-spacing: 0.06em;
    color: var(--header-background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color var(--hoover-duration) var(--hover-time-function);
    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}

